<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <!--<authorization>
        <deny users="?"/>
      </authorization>-->
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <authentication mode="Forms">
        <forms loginUrl="~/userlogin.aspx"></forms>
      </authentication>
      <authorization>
        <allow users="?"/>
      </authorization>
        <sessionState timeout="2400"></sessionState>
      
    </system.web>
 
<connectionStrings>
    <add name="DBCS" connectionString="data source=.;database=hospitalManagementSystem;Integrated Security=SSPI"
        providerName="System.Data.SqlClient;" />
    <!--<add name="hospitalManagementSystemConnectionString" connectionString="Data Source=EMRUL;Initial Catalog=hospitalManagementSystem;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
</connectionStrings>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="userlogin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
